* {
    margin: 0;
    padding: 0;
}

.page {
    display: grid;
    gap: 5px;
    height: 120vh;
    max-width: 100vw;
    grid-template-columns:  250px repeat(4, 1fr);
    grid-template-rows: 150px repeat(3, 1fr);
}

.sidebar {
    grid-area: 1 / 1 / 6 / 2;
    background-color: #a78bfa;
}

.header {
    grid-area: 1 / 2 / 2 / 6;
    background-color: #ffffff;
}

.main-content {
    grid-area: 2 / 2 / 6 / 6;   
    background-color: #f5f3ff;
}