* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    flex-wrap: wrap;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&display=swap');

.noto-sans-mono-main {
    font-family: "Noto Sans Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 1.5rem;
    font-variation-settings:
      "wdth" 100;
  }

.noto-sans-mono-secondary {
    font-family: "Noto Sans Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1.0rem;
    font-variation-settings:
      "wdth" 100;
}

.noto-sans-mono-third {
    font-family: "Noto Sans Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 0.9rem;
    font-variation-settings:
      "wdth" 100;
}

.noto-sans-mono-four {
    font-family: "Noto Sans Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 0.6rem;
    font-variation-settings:
      "wdth" 100;
}


.material-symbols-outlined {
    color: #a78bfa;
}

.material-symbols-outlined.md-18 { font-size: 18px; }
.material-symbols-outlined.md-24 { font-size: 24px; }
.material-symbols-outlined.md-36 { font-size: 36px; }
.material-symbols-outlined.md-48 { font-size: 48px; }


/*? ADD SOME CUSTOM PROPERTIES FOR TEH COLOR SCHEME */



.page {
    display: grid;
    min-height: 100vh;
    min-width: 1000px;
    width: 100vw;
    grid-template-columns:  240px 1fr;
    grid-template-rows: 150px 1fr;
}







/* SIDEBAR SETUP */
.sidebar {
    grid-area: 1 / 1 / 3 / 2;
    background-color: #ffffff;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 90px 1fr;
    /* gap: 5px; */
}

.sidebar h1{
    color: #ffffff;
    margin-top: 6px;
}

.logo {
    background-color: #212121;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 9px;
    padding-left: 20px;

}

.main-menu {
    background-color: #212121;
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    align-items: flex-start;
    padding-left: 25px;
}

.main-menu ul {
    /* margin-top: 36px; */
    width: 100%;
    height: 100%;
}

.menu-item {
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 12px;
    margin-bottom: 25px
}

.menu-item h1 {
    margin-bottom: 2.5px;
}

.extra-menu {
    grid-area: 2 / 1 / 3 / 2;
    background-color: #212121;
    display: flex;
    flex-direction: column;
    padding-left: 25px;
}








/* HEADER SETUP */
.header {
    grid-area: 1 / 2 / 2 / 3;
    background-color: #333333;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
}

.top-section {
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    padding: 10px 40px 4px;
}

.searchbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    flex-grow: 1;
}

.searchbar input {
    background-color: #474747;
    width: 500px;
    height: 27px;
    border-radius: 12px;
    border: none;
    padding: 10px;
    caret-color: #ffffff;
    color: #ffffff;
    flex-grow: 1;
}

.profile {
    display: flex;
    align-items: center;
    gap: 32px;
}

.profile #name {
    color:#ffffff;
}


.bottom-section {
    grid-area: 2 / 1 / 3 / 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    padding: 10px 40px 4px;
}



.nametag {
    grid-area: 2 / 1 / 3 / 4;
    display: flex;
    align-items: center;
    margin-left: 2%;
    gap: 20px;
}


.nametag .text-greeting {
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.nametag #name {
    margin-top: 5px;
}

 
.create {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.create button {
    background-color: #a78bfa;
    color: #ffffff;
    height: 35px;
    width: 100px;
    border-radius: 18px;
    border: 0px;
    font-size: 0.8rem;
} 








/* MAIN CONTENT SETUP */
.main-content {
    padding: 60px 30px;
    grid-area: 2 / 2 / 6 / 6;   
    background-color: #111111;
    display: grid;
    grid-template-columns: 1fr 240px;
    grid-template-rows: 1fr 1fr;
    gap: 60px 50px;
}

.content-title {
    color:#ffffff;
}

.projects {
    grid-area: 1 / 1 / 3 / 2;
    display: grid;
    background-color: #111111;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    position: relative;
}

.card {
    width: 100%;
    background-color: #333333;
    color:#ffffff;
    border-radius: 8px;
    border-left: 8px solid #a78bfa;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}


.card-content h4 {
    margin-bottom: 8px;
    font-weight: 600;
}

.card-content p {
    font-weight: 100;
    opacity: 0.5;
}   

.icons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.icons .material-symbols-outlined {
    color: #ffffff
}


.projects > h3, .announcements > h3, .trending > h3 {
    position: absolute;
    top: -36px;
    font-size: 1.0rem;
}

.announcements, .trending {
    grid-area: 1 / 2 / 2 / 3;
    display: grid;
    grid-template-rows: (3, 90px);
    background-color: #333333;
    border-radius: 8px;
    position: relative;
}

.announcements-content {
    color: #ffffff;
    padding: 10px;
    display: flex;
    align-items: center;

}

.announcements-content h6 {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 0.8rem;
}

.announcements-content p {
    opacity: 0.5;
    padding-bottom: 15px;
    border-bottom: 1px solid #474747;
}

.announcements-content>#last {
    border-bottom: none;
    padding-bottom: 0px;
}

.trending {
    grid-area: 2 / 2 / 3 / 3;
    grid-template-rows: repeat(4, 1fr);
}

.users {
    display: flex;
    align-items: center;
    padding: 10px;
}

.user {
    display: flex;
    gap: 10px;
}

.username p {
    padding-bottom: 2px;
    color: #ffffff;
}

.username #username {
    font-weight: 900;
}

.username #description {
    opacity: 0.5;
}